@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #c0f48c;
    --secondary-color: #000000;
    --terciary-color: #acaaff;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 4px;
}

.modalIcon {
  @apply text-white/10 rotate-12 text-[250px] absolute z-0 -top-24 -left-24
}