@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #c0f48c;
    --secondary-color: #000000;
    --terciary-color: #acaaff;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #acaaff;
  border-radius: 4px;
}
